@DkGrey: #4c5058;
@logo: '';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
#app {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: @DkGrey;

  a {
    text-decoration: none;
    color: grey;
  }

  a:hover {
    color: #0066cc;
  }

  h4, p {
    margin-top: 0;
    margin-bottom: 0;
  }

  ul {
    text-align: left;
    width: 80%;
    margin: 0 auto;

    .casino-prop {
      list-style-type: none;
      margin-bottom: 1em;
    }

  }

  .output {
    li {
      list-style-type: none;
      padding-bottom: 1em;
    }
  }

  ol {
    width: 60%;
    margin: 0 auto;
    text-align: left;

    .tournament {
      margin-bottom: 1em;
    }

    ul {
      width: 100%;
      padding-left: 5px;
    
      .tournament-prop {
        padding-bottom: 0.5em;
        list-style-type: none;
      }

    }
  }

  .title {
    font-style: italic;
    padding-right: 5px;
    display: inline-block;
  }

  .name {
    font-style: bold;
    display: inline-block;
  }

  #website, #specials, #tournament-info, #poker-url, #calendar-url {
    margin-bottom: 1em;
    font-style: italic;
  }

  h1 {
    text-align: center;
    font-size: 1.5em;
  }

  h3 {
    text-align: left;
    padding-bottom: 1em;
    margin: 0 auto;
    width: 65%;
    font-size: 1.1em;
    text-decoration: underline;
  }

  header {
    background: url(@logo) no-repeat center;
    background-size: 25rem;
    padding-top: 80px;
    padding-bottom: 1em;
    height: 125px;
  }

  nav {
    display: inline-block;
    padding-bottom: 1.5em;

    a {
      padding-left: 6px;
      padding-right: 6px;
      font-style: italic;
    }
  }

  hr {
    width: 80%;
    border: 0;
    border-top: 1px solid @DkGrey;
    margin: auto auto;
    padding-bottom: 1em;
  }

  .userInput {
    width: 45%;
    margin: 0 auto;
    text-align: center;

    input {
      margin-bottom: 1.5em;
      width: 20rem;
      border: 1px solid grey;
      border-radius: 0.25em;
      text-align: center;
    }
  }

  .hidden {
    display: none;
  }

  .nav-links:hover {
    color: #0066cc;
  }

}





