@logo: '';
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  font-family: 'Open Sans', sans-serif;
}

header {
  background: url(@logo) no-repeat center;
  background-size: 25rem;
  padding-top: 80px;
  padding-bottom: 20px;
  height: 125px;
}

.userInput {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  input {
    width: 20rem;
    border: 1px solid grey;
    border-radius: 0.25em;
    text-align: center;
  }
  ul {
    padding-left: 35%;
    text-align: left;
    li {
      list-style-type: none;
      padding-bottom: 0.25em;
      a {
        text-decoration: none;
        color: grey;
      }
    }
  }
}